/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vagrant
composer.lock
/app/Domain/Base
/public/js/
/public/css/
package-lock.json
*.DS_Store
.idea*
*.iml
/vendor/
/build/
phpunit.xml
/bootstrap/cache/*
/.phpstorm.meta.php
/.vscode
/public/vendor
/.phpunit.result.cache
